<html>
    <head>

    </head>
    <body>
        <form action="loginHandler.php" method="post">
                <div class="form-group">
                    <input name="username" type="text" maxlength="40" class="form-control" placeholder="Username" />
                </div>
                <div class="form-group">
                    <input name="password" type="password" maxlength="50" class="form-control" placeholder="Password" />
                </div>
                <input type="submit" name="login" value="Log In" class="btn btn-primary btn-block" />
        </form>
    </body>
</html>